
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}



.slide-enter {
  height: 0%;
}

.slide-enter.slide-enter-active {
  height: 100%;
  transition: height 500ms ease-in;
}

.slide-leave {
  height: 100%;
}

.slide-leave.slide-leave-active {
  height: 0%;
  transition: height 300ms ease-in;
}

